/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 button.caredove-button-style-1, input[type="button"].caredove-button-style-1 {
    padding:10px;
    border-radius:10px;
    box-shadow: 1px 1px 1px #000;
 }

 button.caredove-button-style-2, input[type="button"].caredove-button-style-2 {
    padding:10px;
    border:2px solid black;
    border-radius:10px;
 }


 #caredove-iframe, .modaal-iframe-elem {
    width:100%;
    min-height:300px;
    height:85%;
    border:0;
    overflow-x:hidden; overflow-y:auto;
 }